body{background: #888}

.container{width: 1170px; margin: auto}

.header{background-color: #252F31;color: #FFF}

.header .slider{background-color: #EEE;height:600px}

.header .navbar{
    background-color: #252F31;
    color: #FFF;
    overflow: hidden
}

.header .navbar h2{float: left; text-transform: uppercase}

.header .navbar h2 span{color:#2ecc71}

.header .navbar ul{
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: right
}

.header .navbar ul li {float: left; padding: 10px}
